<div class="content">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-primary" style="height:45px">
            <h4 class="card-title">Health Safety</h4>
          </div>

          <div class="card-body">
            <form >

              <div class="row">

                <div class="col-md-6">
                  <div class="panel panel-default" style="border: 1px solid black">
                    <div class="panel-heading">&nbsp;&nbsp;Deit Plans</div>
                  </div>
                  <div style="color:white;padding:20px; height: 250px; width: 100%; border: 2px solid black">                    
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2WCtGFNENYU" style="height: 210px; width: 100%;"
                        allowfullscreen></iframe>
                    </div>

                  </div>
                </div>

                <div class="col-md-6">
                  <div class="panel panel-default" style="border: 1px solid black">
                    <div class="panel-body">&nbsp;&nbsp;Immunity Booster</div>
                  </div>
                  <div style="color:white;padding:20px; height: 250px; width: 100%; border: 2px solid black">

                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v22VeQo7Sjo" style="height: 210px; width: 100%;"
                        allowfullscreen></iframe>
                    </div>

                  </div>
                </div>

              </div>

              <br/>
              <div class="row">

                <div class="col-md-6">
                  <div class="panel panel-default" style="border: 1px solid black">
                    <div class="panel-body">&nbsp;&nbsp;Home Made Remedies</div>
                  </div>
                  <div style="color:white;padding:20px; height: 250px; width: 100%; border: 2px solid black">

                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OZVXEtguyoY" style="height: 210px; width: 100%;"
                        allowfullscreen></iframe>
                    </div>

                  </div>
                </div>
              
                <div class="col-md-6">
                  <div class="panel panel-default" style="border: 1px solid black">
                    <div class="panel-body">&nbsp;&nbsp;Others</div>
                  </div>
                  <div style="color:white;padding:20px; height: 250px; width: 100%; border: 2px solid black">

                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tjosV3Fnuko" style="height: 210px; width: 100%;"
                        allowfullscreen></iframe>
                    </div>

                  </div>
                </div>
              </div>
             
            </form>
            <!-- Footer -->
            <footer class="page-footer font-small blue">
              <div class="footer-copyright text-center py-3">
                <a href="#" [routerLink] = "['/TermsAndCond']" routerLinkActive="router-link-active">Terms And Condition</a> |
                <a href="#" [routerLink] = "['/PrivacyPolicy']" routerLinkActive="router-link-active">Privacy Policy</a> |
                <a href="#" [routerLink] = "['/Disclaimer']" routerLinkActive="router-link-active">Disclaimer</a>
              </div>
            </footer>
            <!-- Footer -->             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>