<div class="content">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-primary" style="height:45px">
            <h4 class="card-title">Home</h4>
          </div>

          <div class="card-body">
            <form >

              <div class="row">
                <div class="col-md-6">
                  <fieldset class="scheduler-border-head">
                    <legend class="scheduler-border">Video</legend>
                    <div class="control-group">
                      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fa3Iczgh8Ok" style="height: 210px; width: 100%;"
                          allowfullscreen></iframe>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="col-md-6">            
                  <fieldset class="scheduler-border-head">
                    <legend class="scheduler-border">Covid Dash Board</legend>
                    <div class="control-group"> 
                        
                        <br/>
                        <div class="row">
                          <div class="col-md-2"></div>                          
                          <div class="col-md-6 container" >
                            
                            <div id="flag">
                              <!-- Saffron Stripe -->
                              <div class="stripe" id="saffron"></div>
                              <!-- White Stripe -->
                              <div class="stripe" id="white">
                                <img class="ashok_chakra" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Ashoka_Chakra.svg/630px-Ashoka_Chakra.svg.png" alt="Ashoka Chakra">
                              </div>
                              <!-- Green Stripe -->
                              <div class="stripe" id="green"></div>
                            </div>

                          </div>                          
                          <div class="col-md-2"></div>
                        </div>
                        
                        <br/>
                        <br/>
                        <br/>

                        <div class="row">
                          <div class="col-md-3">
                            <button class="total buttonRadius">Total <br/>{{total}}</button>
                          </div>         
                          <div class="col-md-3">
                            <button class="active buttonRadius">Active <br/>{{active}}</button>
                          </div>         
                          <div class="col-md-3">
                            <button class="recoverd buttonRadius">Recovered <br/>{{recovered}}</button>
                          </div>         
                          <div class="col-md-3">
                            <button class="deceased buttonRadius">Deceased <br/>{{deceased}}</button>
                          </div>         
                        </div>
                    </div>
                </fieldset>
                </div>

              </div>
                   
              <div class="row">
                <div class="col-md-4">            
                  <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Health Safety</legend>
                    <div class="control-group">
                      <ng-marquee direction="alternate">
                        <mark>Hello, World.... Find Me @ <a href="https://www.linkedin.com/in/shivarajnaidu/" target="__blank"> https://www.linkedin.com/in/shivarajnaidu/ (Yuvaraj)</a></mark>
                      </ng-marquee>
                    </div>
                  </fieldset>
                </div>

                <div class="col-md-4">            
                  <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Emergency Services</legend>
                    <div class="control-group">
                      <marquee direction="up" height="170"> <p>To force<br> line breaks<br> in a text,<br> use the br<br> element.</p> </marquee>
                    </div>
                  </fieldset>
                </div>

                <div class="col-md-4">            
                  <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Local Community</legend>
                    <div class="control-group">
                      <div class="control-group">
                        
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>            

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>